@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

main {
  color: white;
}

a, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

#copyright {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 48px;
  z-index: 2;
  width: 100vw;
}

.joinUs {
  position: absolute;
  bottom: 1.5rem;
  right: 0.5rem;
  z-index: 999;
}

.joinUs button {
  background-color: #1a1a1a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.joinUs button:hover {
  background-color: #333;
}

.leaflet-control-layers,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.marker {
  font-size:1rem;
  color:white;
  text-shadow: 0px 0px 8px black;
  width: fit-content;
  height: fit-content;
}
